#title_navbar{
  padding-left: 32vw;
  font-family: 'Fuzzy Bubbles', cursive;
  font-size: 35px;
  padding-top: 1vw;
}

#title{
  margin-top: 51px;
  font-size: 60px;
  font-family: 'Fuzzy Bubbles', cursive;
}

#leyend{
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}


/* Media queries */
@media screen 
  and (max-width: 774px)
  {

} 
@media screen
 and (min-width: 775px)
 and (max-width: 991px)
 {

}

@media screen
 and (min-width: 992px)
 {
  .cards{
    padding-top: 6vh;
    padding-left: 20vw;
  }
 }