.App{
  background-color: #F2F3F4;
}

#title_navbar{
  padding-left: 29vw;
  font-family: 'Fuzzy Bubbles', cursive;
  font-size: 35px;
  padding-top: 1vw;
}

#title{
  margin-top: 7vh;
  font-size: 6rem;
  font-family: 'Fuzzy Bubbles', cursive;
}

#title_map{
  font-family: 'Fuzzy Bubbles', cursive;
  font-size: 2rem;
}

#leyend{
  font-family: 'Fira Sans', sans-serif;
  font-size: 1vw;
}

#button_ver_mapa{
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
}

/* Media queries */
@media screen 
  and (max-width: 774px)
  {
    .cards{
      padding-top: 5vh;
     }
    .map_img{
      height: 300px;
    }
} 
@media screen
 and (min-width: 770px)
 and (max-width: 1644px)
 {
   .cards{
    padding-top: 5vh;
    margin-left: 16vw;
    margin-right: 16vw;
   }
   .map_img{
    height: 350px;
  }
}
@media screen
 and (min-width: 1645px)
 {  
   .cards{
     padding-top: 5vh;
     margin-left: 20vw;
     margin-right: 20vw;
   }
   .map_img{
     padding-right: 3vw;
     padding-left: 3vw;
     width: 470px;
     height: 350px;
   }
 }
