.Science{
  background-color: #F2F3F4;
}

#sub_title{
    padding-top: 6vh;
    padding-bottom: 2vh;
    font-size: 6rem;
    font-family: 'Fuzzy Bubbles', cursive;
}

.table{
    padding-left: 1vw;
    padding-right: 1vw;
    padding-bottom: 2vh;
}

.table_title{
  font-family: 'Roboto Mono', monospace;
  font-size: 2rem;
}

.table_content{
  font-family: 'Ubuntu', sans-serif;
  font-size: large;
}

.table_content_title{
  font-family: 'Roboto Mono', monospace;
  }

.tabbed_title{
  font-family: 'Roboto Mono', monospace;
  color: black;
  font-size: larger;
}

.tabbed_content{
  font-family: 'Ubuntu', sans-serif;
  font-size: larger;
  
  background-color: #F2F3F4;
}

.tabbed_background{
  background-color: #F2F3F4;
  margin-top: 2vh;
  padding-top: 5vh;
  padding-bottom: 4vh;
  border-style: solid;
  border-width: 0.4vh;
  border-radius: 12px;
  border-color: #F2F3F4;
}

/* Media queries */
@media screen 
  and (max-width: 774px)
  {
    #sub_title{
      padding-top: 11vh;
      font-size: 3rem;
    }
} 
@media screen
 and (min-width: 770px)
 and (max-width: 1644px)
 {
    
}
@media screen
 and (min-width: 1645px)
 {  
   
 }
