.Science{
  background-color: #F2F3F4;
}

#sub_title{
    padding-top: 6vh;
    padding-bottom: 2vh;
    font-size: 6rem;
    font-family: 'Fuzzy Bubbles', cursive;
}

.table{
    padding-left: 1vw;
    padding-right: 1vw;
    padding-bottom: 2vh;
}

.table_title{
  font-family: 'Roboto Mono', monospace;
  font-size: 2rem;
}

#hashtag{
  padding-bottom: 2vh;
}

#single_title{
  padding-left: 4vw;
  padding-bottom: 2vh;
}

.table_content_title{
  font-family: 'Roboto Mono', monospace;
}

.table_content{
  font-family: 'Ubuntu', sans-serif;
  font-size: large;
}

.btn_table{
  padding-left: 7vw;
  padding-right: 7vw;
}

.tabbed_title{
  font-family: 'Roboto Mono', monospace;
  color: black;
  font-size: larger;
}

.faq_question{
  font-family: 'Roboto Mono', monospace;
  color: black;
  font-size: large;
}

.tabbed_content{
  font-family: 'Ubuntu', sans-serif;
  padding-left: 1vw;
  font-size: large;
}

.tabbed_content_videos{
  padding-left: 27vw;
  padding-right: 24vw;
}

.tabbed_background{
  background-color: #F2F3F4;
  margin-top: 2vh;
  padding-top: 5vh;
  padding-bottom: 4vh;
  border-style: solid;
  border-width: 0.4vh;
  border-radius: 12px;
  border-color: #F2F3F4;
}

/* Media queries */
@media screen 
  and (max-width: 774px)
  {
    #sub_title{
      padding-top: 9vh;
      font-size: 3rem;
    }

    .table_title{
      font-size: 1.5rem;
    }

    #single_double_title{
      padding-bottom: 2vh;
    }

    #single_title{
      padding-bottom: 4vh;
    }

    #hashtag{
      padding-bottom: 4vh;
    }
} 
@media screen
 and (min-width: 770px)
 and (max-width: 1644px)
 {
   
    #single_double_title{
      padding-bottom: 2vh;
    }

    #single_title{
      padding-bottom: 3vh;
    }

    #hashtag{
      padding-bottom: 3vh;
    }
}
@media screen
 and (min-width: 1645px)
 {  
   
 }
